# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Logs
*.log
venv/
__pycache__/
*.pyc
.DS_Store
.env
